section ul li{
	background-color: #8B795E;
	border-radius: 10px;
	margin-left: 120px;
	margin-bottom: 13px;
	width: 120px;
	height: 35px;
	padding-top: 4px;
	padding-left: 10px;
	color: blue;
	letter-spacing: 1em;
	
}

section ul{
	margin-left: 150px;
	margin-top: 150px;
}
