<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.abdinfo.dao.WorkPlanMapper">

	<insert id="addWorkPlan">
		INSERT INTO work_plan
           (department,staffCode,staffName,date,actconcom)
     VALUES
           (#{department},#{staffCode},#{staffName},#{date},#{actconcom})
	</insert>
	<delete id="delwkl">
		delete from work_plan where staffCode=#{usercode} and date=#{nowtime}
	</delete>
	
	<select id="findnowday" resultType="com.asiainfo.abdinfo.po.WorkPlan">
		select id as id,department,staffCode,staffName,date,type,projectname,plantime,
  actualtime,conbecom,dockingpeople,completion,outcause,actconcom
		from work_plan where staffCode=#{usercode} and date=#{nowday}
	</select>
</mapper>