<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.abdinfo.dao.WorkPlanMapper">

	<insert id="addWorkPlan">
		INSERT INTO work_plan
           (部门,人员编码,姓名,日期,实际完成内容)
     VALUES
           (#{部门},#{人员编码},#{姓名},#{日期},#{实际完成内容})
	</insert>
	<delete id="delwkl">
		delete from work_plan where 人员编码=#{usercode} and 日期=#{nowtime}
	</delete>
	
	<select id="findnowday" resultType="com.asiainfo.abdinfo.po.WorkPlan">
		select * from work_plan where 人员编码=#{usercode} and 日期=#{nowday}
	</select>
</mapper>